[submodule "builtin-debug-disable"]
	path = builtin-debug-disable
	url = git@github.com:omrqs/performance-example-builtin-debug-disable.git
[submodule "performance-example-builtin-debug-disable-opcache"]
	path = performance-example-builtin-debug-disable-opcache
	url = git@github.com:omrqs/performance-example-builtin-debug-disable-opcache.git
[submodule "builtin-debug-disable-opcache"]
	path = builtin-debug-disable-opcache
	url = git@github.com:omrqs/performance-example-builtin-debug-disable-opcache.git
[submodule "nginx-default-debug-disable"]
	path = nginx-default-debug-disable
	url = git@github.com:omrqs/performance-example-nginx-default-debug-disable.git
[submodule "nginx-optimized-debug-disable"]
	path = nginx-optimized-debug-disable
	url = git@github.com:omrqs/performance-example-nginx-optimized-debug-disable.git
[submodule "nginx-optimized-debug-disable-opcache"]
	path = nginx-optimized-debug-disable-opcache
	url = git@github.com:omrqs/performance-example-nginx-optimized-debug-disable-opcache.git
[submodule "reactphp-debug-disable-opcache"]
	path = reactphp-debug-disable-opcache
	url = git@github.com:omrqs/performance-example-reactphp-debug-disable-opcache.git
