[submodule "builtin-debug-disable"]
	path = builtin-debug-disable
	url = git@github.com:omrqs/performance-example-builtin-debug-disable.git
[submodule "performance-example-builtin-debug-disable-opcache"]
	path = performance-example-builtin-debug-disable-opcache
	url = git@github.com:omrqs/performance-example-builtin-debug-disable-opcache.git
